@import "root.css";
body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: 'header'
    'corpo'
    'footer';
    background-color: var(--azul-tema-claro);
}

main{
    width: 100%;
    height: 100%;
}
.contMain{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    background: var(--amarelo-tema);
    padding: 5% 0 5% 0;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--azul-tema-escuro);
    font-size: 30px;
    font-family: Roboto;
}
.contMain h3{
    margin: auto;
    width: 50%;
}

